@model Employee
<h2>
    Add Employee
</h2>
<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label for="Name">Name:</label>
        <input asp-for="Name" type="text" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Email">Email:</label>
        <input asp-for="Email" type="email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="DeptID">Department:</label>
        <select asp-for="DeptID" class="form-control">
            <option value="">Select Department:</option>
            @foreach (var dept in ViewBag.Departments)
            {
                <option value="@dept.Id">@dept.DeptName</option>
            }
        </select>
        <span asp-validation-for="DeptID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ImageFile">Profile Image:</label>
        <input asp-for="ImageFile" type="file" accept="image/*" class="form-control"/>
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
